*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color:rgb(241, 163, 19);
color: white;    
}
header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

a{
    color: white;
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    
}
nav ul li{
    padding: 10px;
}
.main{
    width: 700px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    height: 50vh;
}
.table{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{

    width: 100%;
    max-width: 600px;
    

}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: white;
}
h2{
    color: black;
    text-align: center;
}
table thead{
    background-color:rgb(241, 163, 19) ;
}
table tbody{
    color: black;
}
footer{
    height: 1vh;
    text-align: center;
}